body {
    background-color: #1f2937;
    margin: 0px;
    font-family: 'Josefin Sans';
}

.header {
    color: #464646;
    background-color: #f9faf8;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

.header-logo {
    margin: 0px;
}

.header-links {
    display: flex;
    font-size: 18px;
    gap: 30px;
}

.hero {
    background-color: #212121;
    display: flex;
    align-items: flex-start;
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    padding: 100px;
    gap: 30px;
    background-image: linear-gradient url("./hero_pic.jpg");
}



.hero.dot {
    color: red;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    font-weight: normal;

}

.hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
    background-color: grey;
    width: 600px;
    height: auto;
    flex-shrink: 0;
    font-size: 18px;

}

button {
    background-color: #a81212;
    font-weight: 700;
    border: solid white 1px;
    border-radius: 3px;
    color: white;
    padding: 10px 40px;
}

.our-process-section {
    background-color: rgb(255, 255, 255);
    padding: 20px;


}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #373737;
    text-align: center;
    padding: 20px;

}


.text-boxes {
    display: flex;
    justify-content: space-between;
    gap 10px;

}

.pic-box {
    width: 155px;
    height: 100px;

}



ul.selling-points {
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: center;

}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    text-align: center;
    max-width: 150px;
}

.quote-section {
    background-color: #020101e5;
    background-image: url("/home/james/repos/landing-page/preillumination-seth-ok4GGk3KUzU-unsplash.jpg");
    background-size: 50%;
    background-repeat: no-repeat;



}

.quote-block {
    display: flex;
    flex-direction: column;
    padding-left: 44%;
    padding-top: 10%;
    padding-right: 5%;
}

p.quote-text {
    font-size: 36px;
    color: #cacaca;
    margin: 0px;


}

.quote-section h3 {
    align-self: flex-end;
    color: #cacaca;
}

section.call-to-action {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    padding: 100px;

}

section.call-to-action h3 {
    margin: 0px;
}


.call-to-action-box {
    display: flex;
    background-color: #242323;
    align-items: center;
    border-radius: 10px;
    padding: 30px 90px
}

.call-to-action-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #F9FAF8;
    padding: 20px 80px;
    line-height: 10px;

}

.call-to-action-box button {
    border: 1px solid white;
    align-self: center;
    font-weight: bold;
}

.footer-section {
    background-color: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    padding: 20px;


}

.footer-section p {
    color: #E5E7EB;
    font-size: 14px;
    margin: 4px;

}

.header a:hover {
    text-decoration: #a81212 solid underline 4px;
    transition: text-decoration 1s ease;
    text-underline-offset: 3px;
}

.header a:active {
    text-decoration: none;
    color: #464646;
}

a:visited {
    text-decoration: none;
    color: #464646;
}

a:link {
    color: #464646;
    text-decoration: none;

}

.footer-section a:link {
    color: #E5E7EB;
}